version: '2'
services:
  php-fpm:
    build: php-fpm
    image: liyu/php-fpm
    volumes_from:
        - volumes_www
    links:
      - mariadb
      - redis
    restart: on-failure:3
  php-cli-daemon:
    build: php-cli-daemon
    image: liyu/php-cli-daemon
    volumes_from:
       - volumes_www
    volumes:
       - ./php-cli-daemon/supervisor.d:/etc/supervisor.d
    restart: on-failure:3
  laravel-echo:
    build: laravel-echo
    image: liyu/laravel-echo
    ports:
      - 6001:6001
    links:
      - redis
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
      - "443:443"
    volumes_from:
      - volumes_www
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./nginx/logs:/var/log/nginx
      - /etc/letsencrypt:/etc/letsencrypt
      - /etc/ssl/certs:/etc/ssl/certs
    links:
      - php-fpm
    restart: on-failure:3
  mariadb:
    image: mariadb:latest
    ports:
      - "3306:3306"
    volumes:
      - ./mariadb/data:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=123456
    restart: on-failure:3
  mysql:
    image: mysql:latest
    ports:
      - "3307:3306"
    volumes:
      - ./mysql/data:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=123456
    restart: on-failure:3
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
  volumes_www:
      image: tianon/true
      volumes:
        - ./www:/var/www/html
        - /etc/localtime:/etc/localtime
